@font-face {
  font-family: 'WhitneyBold';
  src: url("../fonts/Whitney-Bold.woff"), url("../fonts/Whitney-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'WhitneyLight';
  src: url("../fonts/Whitney-Light.woff"), url("../fonts/Whitney-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: 'WhitneyMedium';
  src: url("../fonts/Whitney-Medium.woff"), url("../fonts/Whitney-Medium.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'WhitneySemibold';
  src: url("../fonts/Whitney-Semibold.woff"), url("../fonts/Whitney-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: 'WhitneyBook';
  src: url("../fonts/Whitney-Book.woff"), url("../fonts/Whitney-Book.otf");
  font-weight: 100;
}
/* line 1, ../scss/_main.scss */
body, h1 {
  color: #ffffff;
  font-family: "WhitneyLight", Helvetica, Arial, sans-serif;
  font-weight: light;
}

/* line 6, ../scss/_main.scss */
.document {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 12, ../scss/_main.scss */
.header {
  height: 87px;
}

/* line 19, ../scss/_main.scss */
.content {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  margin: 10px auto;
}
/* line 27, ../scss/_main.scss */
.content a:not(.btn) {
  color: #76cfff;
}
/* line 29, ../scss/_main.scss */
.content a:not(.btn):hover {
  color: #76cfff;
  border-bottom: 2px dotted #76cfff;
  text-decoration: none;
}
/* line 36, ../scss/_main.scss */
.content .main-block {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 #000000;
  padding: 15px;
}
/* line 42, ../scss/_main.scss */
.content .inner-block {
  box-shadow: inset 2px 2px 5px 0 #000000;
  background: #222222;
  border-radius: 10px;
}
/* line 47, ../scss/_main.scss */
.content .inner-block img {
  box-shadow: inset 2px 2px 5px 0 #000000;
}

/* line 1, ../scss/_buttons.scss */
.btn {
  box-shadow: 1px 1px 2px 0 #000000;
  font-family: "WhitneyBook", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
/* line 5, ../scss/_buttons.scss */
.btn:active {
  box-shadow: none;
  transform: translateY(1px);
}

/* line 1, ../scss/_navbar.scss */
.navbar {
  box-shadow: 2px 2px 5px 0 #000000;
}

/* line 5, ../scss/_navbar.scss */
.navbar-header {
  float: none;
  text-align: center;
}
/* line 9, ../scss/_navbar.scss */
.navbar-header a:not(.btn) {
  -moz-transition: all 300ms 0;
  -o-transition: all 300ms 0;
  -webkit-transition: all 300ms 0;
  transition: all 300ms 0;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 12, ../scss/_navbar.scss */
.navbar-header a:not(.btn):hover {
  border-bottom: 2px dotted #ffffff;
  text-decoration: none;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 19, ../scss/_navbar.scss */
.navbar-header h1 {
  padding: 20px 0 25px 70px;
  display: inline-block;
  margin: auto;
  position: relative;
  white-space: nowrap;
}
/* line 25, ../scss/_navbar.scss */
.navbar-header h1:before {
  content: ' ';
  position: absolute;
  background: url("../img/face.png") no-repeat;
  background-size: 40px 50px;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 0;
}

/* line 38, ../scss/_navbar.scss */
.navbar-brand {
  float: none;
}

/* line 42, ../scss/_navbar.scss */
.top-chart-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 1, ../scss/_footer.scss */
.footer {
  text-align: center;
  padding: 10px;
  margin: 0 -15px;
  background-color: #375a7f;
}

/* line 1, ../scss/_photos.scss */
.photos-page {
  margin: 40px auto;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 8, ../scss/_photos.scss */
.photo-wrapper {
  padding: 15px 15px;
  max-height: 90%;
}

/* line 13, ../scss/_photos.scss */
.photo-square {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 #000000;
}

/* line 18, ../scss/_photos.scss */
.photo-square {
  cursor: hand;
  position: relative;
  overflow: hidden;
}
/* line 22, ../scss/_photos.scss */
.photo-square img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  border-radius: 10px;
  position: relative;
}
/* line 29, ../scss/_photos.scss */
.photo-square img:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}
/* line 37, ../scss/_photos.scss */
.photo-square .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
/* line 43, ../scss/_photos.scss */
.photo-square .description .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 4.2vw;
  text-align: center;
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 51, ../scss/_photos.scss */
.photo-square .description .details {
  font-size: 2.1vw;
  line-height: normal;
  padding: 0 5px;
  text-align: center;
  font-family: "WhitneyBook", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
/* line 60, ../scss/_photos.scss */
.photo-square .like-button {
  -moz-transition: all 300ms 0;
  -o-transition: all 300ms 0;
  -webkit-transition: all 300ms 0;
  transition: all 300ms 0;
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
  font-size: 4.8vw;
  text-shadow: 0px 1px 0 #000000;
  text-align: center;
  color: #375a7f;
  background: url("../img/star.png") center center no-repeat;
  background-size: 100% 100%;
}
/* line 79, ../scss/_photos.scss */
.photo-square:hover .like-button {
  color: transparent;
  text-shadow: none;
  -moz-transform: translate(-12vw, 12vw) scale(4);
  -ms-transform: translate(-12vw, 12vw) scale(4);
  -webkit-transform: translate(-12vw, 12vw) scale(4);
  transform: translate(-12vw, 12vw) scale(4);
  opacity: .7;
}

/* line 1, ../scss/_topChart.scss */
.top-chart-table {
  margin: auto;
}
/* line 3, ../scss/_topChart.scss */
.top-chart-table td, .top-chart-table th {
  font-size: 3vh;
  padding: 5px;
}
/* line 7, ../scss/_topChart.scss */
.top-chart-table th {
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 11, ../scss/_topChart.scss */
.top-chart-table td:first-child {
  position: relative;
}
/* line 13, ../scss/_topChart.scss */
.top-chart-table td:first-child img {
  max-height: 10vh;
  min-height: 10vh;
}
/* line 17, ../scss/_topChart.scss */
.top-chart-table td:first-child span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 3vh;
  height: 4vh;
  width: 4vh;
  line-height: 4.4vh;
  border-radius: 2vh;
  color: white;
  text-align: center;
  background-color: rgba(1, 129, 31, 0.8);
}
/* line 34, ../scss/_topChart.scss */
.top-chart-table td:nth-child(2) {
  padding-left: 20px;
}
/* line 38, ../scss/_topChart.scss */
.top-chart-table td:nth-child(3) {
  background: url("../img/star.png") center center no-repeat;
  background-size: 100% 100%;
  font-size: 5vh;
  height: 10vh;
  width: 10vh;
  line-height: 10vh;
  text-shadow: 0px 1px 0 #000000;
  text-align: center;
  color: #375a7f;
}

/* line 1, ../scss/_stats.scss */
.stats-photo-wrapper {
  text-align: center;
  position: relative;
}
/* line 5, ../scss/_stats.scss */
.stats-photo-wrapper .photo {
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 5px 0 #000000;
  -webkit-box-shadow: 2px 2px 5px 0 #000000;
  box-shadow: 2px 2px 5px 0 #000000;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
/* line 13, ../scss/_stats.scss */
.stats-photo-wrapper img {
  max-height: 70vh;
  max-width: 90vw;
}
/* line 18, ../scss/_stats.scss */
.stats-photo-wrapper .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
/* line 24, ../scss/_stats.scss */
.stats-photo-wrapper .description .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 4.2vw;
  text-align: center;
  font-family: "WhitneySemibold", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
/* line 32, ../scss/_stats.scss */
.stats-photo-wrapper .description .stars {
  background: url("../img/star.png") center center no-repeat;
  background-size: 100% 100%;
  font-size: 5vh;
  height: 10vh;
  width: 10vh;
  line-height: 10vh;
  text-shadow: 0px 1px 0 #000000;
  text-align: center;
  color: #375a7f;
  margin: auto;
}
