.photos-page {
	margin: 40px auto;
	@include flex(1);
	@include display-flex(flex);
	@include align-items(center);
}

.photo-wrapper {
	padding: 15px 15px;
	max-height: 90%;
}

.photo-square {
	border-radius: 10px;
	box-shadow: $navbar-shadow;
}

.photo-square {
	cursor: hand;
	position: relative;
	overflow: hidden;
	img {
		max-width: 100%;
		max-height: 100%;
		min-width: 100%;
		border-radius: 10px;
		position: relative;

		&:after {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.description {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, .5);
		padding: 5px;
		.name {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-size: 4.2vw;
			text-align: center;
			@include screen-font-semibold();
		}
		.details {
			font-size: 2.1vw;
			line-height: normal;
			padding: 0 5px;
			text-align: center;
			@include screen-font-book();
		}
	}

	.like-button {
		$size: 8vw;
		@include transition(all 300ms ease 0);
		position: absolute;
		top: 1vw;
		right: 1vw;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: .6*$size;
		@include text-shadow(0px 1px 0 #000000);
		text-align: center;
		color: $navbar-background;
		background: url('../img/star.png') center center no-repeat;
		background-size: 100% 100%;
	}

	&:hover {

		.like-button {
			color: transparent;
			@include text-shadow(none);
			@include transform(translate(-12vw, 12vw) scale(4));
			opacity: .7;
		}
	}
}
