$navbar-shadow: 2px 2px 5px 0 #000000;
$button-shadow: 1px 1px 2px 0 #000000;

$main-text-color: #ffffff;
$link-color: #76cfff;
$navbar-background: #375a7f;
$inner-block-background: #222222;

$link-underlining-border: 2px dotted $link-color;

